* {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

#wrapper {
    padding: 20px;
    margin: 0 auto;
    height: 1000px;
    width: 960px;
}

#greeting {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

#button1 {
    display: block;
    margin: 0 auto;
    padding: 15px 32px;
    background-color: white;
    color: gray;
    border: 2px solid #74817f;
}

#button1:focus {
    outline: 0;
}

#button1:hover {
    border-color: #16a0ca;
}

#devices {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

#choose {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

#certain_device {
    padding-left: 20px;
    text-align: center;
}

#certain_device_spec {
    padding: 20px;
}

input[type="text"] {
    border: 1px solid #a4b6b3;
    width: 200px;
    height: 48px;
    text-indent: 10px;
}


input[type="submit"] {
    padding: 10px 20px;
    background-color: white;
    color: gray;
    border: 2px solid #74817f;
}